*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

html {
    position: relative;
    min-height: 100%;
    display: block;
    background-color: #f3eddf;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#brand {
    font-size: 16px;
    text-align: right;
    padding-bottom: 5px;
}

.calculator {
    box-shadow: rgba(128, 128, 128, 0.591) 0px 3px 8px;
    border-radius: 5px;
    border: 2px;
    border-style: solid;
    padding: 20px;
    padding-top: 14px;
    background-color: #5dcac875;
}

#deleteButton {
    background-color: #fbd6d2;
}

#deleteButton:hover {
    background-color: #f8b5ae;
}

#clearButton {
    background-color: #d2cde9;
}

#clearButton:hover {
    background-color: #bfb7e4;
}

#clearButton,
#deleteButton {
    grid-column: span 2;
    aspect-ratio: auto;
}

button[data-operator]:hover,
#dot:hover {
    background-color: #f8b8cf;
}

button[data-operator],
#dot {
    background-color: #f9cfdf;
}

button {
    min-height: 60px;
    box-shadow: rgba(128, 128, 128, 0.392) 1px 2px 4px;
    border-style: solid;
    border-radius: 5px;
    background-color: #F7ECDE;
    border-color: hsl(0, 13%, 3%);
    aspect-ratio: 1;
}

button:hover {
    background-color: #ffe6c2;
}

#screen {
    padding: 0px 10px;
    box-shadow: rgba(128, 128, 128, 0.29) 0px 2px 4px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #faf5ea;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    vertical-align: middle;
}

#pastScreen {
    min-height: 32px;
}

#currentScreen {
    min-height: 64px;
    font-size: 32px;
}


a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}